/*Estilo Global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabeçalho */
.logo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.main-header {
    background: #ffbb00;
    color: #fff;
    padding: 10px; /*altura do header*/
    width: 100%; /* Certifica-se de que o cabeçalho ocupe toda a largura */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em coluna */
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

main{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
}
/*titulos*/
#titulo {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin: auto;
}
/* Formulário */
.estruturaFormulario {
    align-items: stretch;
    justify-items: right;
    margin: 10px 30px 30px;
    padding: 50px 0 80px;
}
/** Estilo do Título do Formulário **/
.tituloForm {
    text-align: center;  
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

fieldset {
    flex: 3;
    border-style: none;
    margin-top: 5px;
    text-align: top;
}

.elementosForm {
    position: relative;
}

form label {
    position: absolute;
    top: -20px;  /* Ajusta a posição do label acima do input */
    left: 0;
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

form input, form textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /*width: 100%;*/
    box-sizing: border-box;
}

form textarea {
    resize: vertical;
}

.botaoEnviar {
    display: flex;
    align-items: baseline;
    justify-content: right;
    align-items: end;
}

form button {
    display: flex;
    /*height: 50%;*/
    /*width: 50%;*/
    padding: 12px 20px;
    font-size: 16px;
    color: white;
    background-color: #ffbb00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #ff8800;
}

form button:active {
    transform: translateY(2px);
}

.estruturaExplica {
    background-color: #fff;
    max-width: 40%;
    text-align: justify;
    align-self: self-start;
    border-radius: 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 30px;
}

.textoExplica {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    text-indent: 20px;
}

/*Rodapé*/
footer {
    background-color: #333; 
    color: #ffbb00; 
    padding: 10px 0; 
    text-align: center; 
    position: relative; 
    bottom: 0; 
    width: 100%;
}

footer a {
    color: #ffbb00;
    text-decoration: none;
    font-size: 14px;
}

footer a:hover {
    text-decoration: underline;
}

/* <----------------------------------------  
     botoes de volta 
----------------------------------------> */

.button-container {
    display: flex; /* Alinha os botões lado a lado */
    gap: 10px; /* Espaço entre os botões */
    position: absolute; /* Para fixá-los no canto do rodapé */
    bottom: 10px; /* Distância do fundo */
    left: 10px; /* Distância da lateral esquerda */
}

#botao-voltar, .book-button {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

#botao-voltar {
    background-color: #ff8800;
    color: white;
}

#botao-voltar:hover {
    background-color: #b38300;
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.button-voltar:active {
    transform: translateY(0);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}


.book-button {
    background: #007BFF;
    color: white;
}

.book-button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.book-button:active {
    transform: translateY(0);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}


a {
    color: #ffbb00;
}
/* Responsividade */
@media (max-width: 768px) {
    .main-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .site-name {
        margin-bottom: 10px;
    }

    #tituloForm {
        font-size: 24px;
    }

    form {
        width: 90%;
        padding: 15px;
    }

    footer {
        font-size: 12px;
    }
}
